.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
}